body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(140, 188, 188);
  height: 100vh;
  font-family: "Spectral", serif;
}

.title h1 {
  color: rgb(22, 75, 75);
  margin: 30px;
  font-size: 40px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  text-align: center;
  width: 80%;
}

.top img {
  height: 70px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-main {
  display: flex;

  justify-content: center;
}

.top-left-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  height: 200px;
}

.countryData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  /* border: 2px rgb(205, 133, 125) solid; */
  background: rgb(116, 140, 140);
  margin-left: 20px;
  font-family: "Alata", sans-serif;
}

.countryData > h2 {
  margin-bottom: 5px;
  margin-top: 0;
  color: rgb(22, 75, 75);
}

.countryData > p {
  margin: 0;
}
.countryData > h3 {
  margin-bottom: 8px;
}
.divStyle {
  display: flex;
  justify-content: center;
  align-items: ba;
  text-align: center;
}
.h3Style {
  margin: 0px 0px 0px 0px;
  color: rgb(22, 75, 75);
}

.pStyle {
  margin: 0px 5px 0px 0px;
  font-weight: bold;
}
.pStyle2 {
  margin: 0px;
}

.continent-container,
.worldStatistics {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.btn {
  border: none;
  width: 90px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Alata", sans-serif;
  /* font-family: "Spectral", serif; */
}

.btn1 {
  background: rgb(116, 140, 140);
}

.btn2 {
  background: rgb(205, 133, 125);
}

/* .btn1:hover {
  background: rgb(79, 165, 165);
}
.btn2:hover {
  background: rgb(189, 102, 92);
} */

#select-box {
  width: 100%;
}

select {
  margin: 10px 0px;
  width: 100%;

  height: 35px;
  padding: 5px;
  background: rgb(116, 140, 140);
  font-size: 16px;
  border-radius: 5px;
  color: rgb(76, 71, 71);
  font-family: "Spectral", serif;
}

/* .countriesData {
  display: flex;
  width: 20%;
  border: 1px dotted black;
  background: rgb(116, 140, 140);
} */
.chart {
  background: rgba(191, 242, 247, 0.5);
  margin: 20px 0px;
  padding: 3px;
  width: 80%;

  border-radius: 10px;
}

[data-isActive="true"] {
  background: rgb(181, 46, 46);
}

/* [data-isActive2="true"] {
  background: rgb(205, 76, 76);
} */
